<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Article</title>
</head>
<body>
<h1>Detail Article</h1>
<p><strong>Title:</strong> <span th:text="${article.title}">Sample Title</span></p>
<p><strong>Content:</strong></p>
<p th:text="${article.content}">Sample Content</p>
</body>
</html>
