<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Article</title>
</head>
<body>
<h1>Detail Article</h1>

<!-- 에러 메시지 표시 -->
<div th:if="${#strings.equals(param.error, 'alreadyLocked')}" style="color:red; font-weight:bold;">
    This article is currently being edited by another user.
</div>

<p><strong>Title:</strong> <span th:text="${article.title}">Sample Title</span></p>
<p><strong>Content:</strong></p>
<p th:text="${article.content}">Sample Content</p>
<a th:href="@{'/articles/edit?id=' + ${article.id}}">Edit Article</a>
<!-- delete button -->
<form th:action="@{'/articles/delete?id=' + ${article.id}}" method="post" style="display:inline;">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this article?');">Delete Article
    </button>
</form>
</body>
</html>
