<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Detail</title>
</head>
<body>
<h1>Order Detail</h1>
<p>Order Number: <span th:text="${order.number}">12345</span></p>
<p>Order State: <span th:text="${order.state}">PENDING</span></p>
<p>Orderer Name: <span th:text="${order.memberName}">Product A</span></p>
<p>Orderer Id: <span th:text="${order.memberId}">memberId</span></p>
<p>Product Name: <span th:text="${order.productName}">Product A</span></p>

<!-- Delete 버튼 -->
<form th:action="@{/orders/delete(id=${order.number})}" method="post">
    <button type="submit">Delete</button>
</form>
<!-- Cancel 버튼 -->
<form th:action="@{/orders/cancel(id=${order.number})}" method="post">
    <button type="submit">Cancel</button>
</form>
<!-- Change Order State 페이지 이동 버튼 -->
<a th:href="@{/orders/change-state(id=${order.number})}">Change Order State</a>
</body>
</html>
